ion-slide ion-skeleton-text {
  width: 95%;
  margin: 0 auto;
}

ion-icon.down {
    background-color: rgb(211 18 69 / 5%);
    padding: 7pt;
    border-radius: 7pt;
}

ion-icon.up {
    background-color: rgb(73 183 66 / 5%);
    padding: 7pt;
    border-radius: 7pt;
}

